.navbar {
    background-color: rgb(233, 233, 21);
    a {
        color: #000;
    }
}

.card img {
    border-radius: 20px !important;
}

#details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 3rem;
    padding: 20px;
    /* height: 80vh; */

    img {
        border-radius: 20px !important;
    }
}

footer {
    position: relative;
    background-color: rgb(233, 233, 21);
    bottom: 0;
    width: 100%;
    margin-top: 30px;
    text-align: center;
    padding: 10px 0;
}